<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="./vue.js"></script>
    <title>Vue.js</title>
    <style>
      li {
        list-style: none;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <button @click="mostrarCursos">Mostrar Cursos</button>
      <ul>
        <li v-for="curso in cursos">
          <h1>Curso: {{curso.curso}}</h1>
          <a :href="curso.link" target="_blank">link para o curso</a>
          <h2>Aulas:</h2>
          <ul v-for="aula in curso.aulas">
            <li>{{aula.nome}}</li>
            <li>duracao: {{aula.tempo}}</p>
          </div>
        </li>
      </ul>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          cursos: [],
        },
        methods: {
          async mostrarCursos() {
            const response = await fetch("./cursos.json");
            const json = await response.json();
            console.log(json);
            this.cursos = json;
          },
        },
      });
    </script>
  </body>
</html>
