<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="./vue.js"></script>
    <title>Vue.js</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      ul {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
      }

      body {
        padding-left: 40px;
        padding-top: 40px;
      }
      ul li {
        list-style: none;
      }
      .btn {
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button class="btn btn-primary" @click="puxarPaises">Puxar</button>
      <select name="paises" id="paises" v-model="paisSelecionado">
        <option v-for="pais in paises" :value="pais.name">
          {{pais.name ? pais.name : ""}}
        </option>
      </select>
      {{paisSelecionado}}
      <h2>Capital: {{capital.capital}}</h2>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          paises: [],
          paisSelecionado: "",
          nome: "",
          capital: "",
        },
        methods: {
          async puxarPaises() {
            const response = await fetch("https://restcountries.com/v2/all");
            const json = await response.json();
            this.paises = json;
          },
        },
        watch: {
          paisSelecionado(newValue) {
            this.capital = this.paises.find(
              (pais) => pais.name === newValue
            );
          },
        },
      });
    </script>
  </body>
</html>
